nav, nav li {
  margin: 0;
  padding: 0;
}
nav {
  background: rgb(46,95,122);
  text-align: center;
}
nav li {
  display: inline-block;
  text-align: center;
}
nav a {
  display: block;
  padding: 3px 15px;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  background: rgb(96,145,172);
}
footer {
    margin: 0 auto;
    text-align: center;
}
